@import "tailwindcss";

body {
	font-family: 'Inter', sans-serif, system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #0a0a0a;
	overflow-x: hidden;
}

@theme {
  	--shadow-card: -1px 1px 0px #00A6F4,
				-2px 2px 0px #00A6F4,
				-3px 3px 0px #00A6F4,
				-4px 4px 0px #00A6F4,
				-5px 5px 0px #00A6F4,
				-6px 6px 0px #00A6F4
	; 
}
